In [2]:
import pandas as pd

In [4]:
# Make a reference to the books.csv file path
file_one = "Resources/budget_data.csv"
# Import the books.csv file as a DataFrame
# Not every CSV requires an encoding, but be aware this can come up
file_one_df = pd.read_csv(file_one, encoding="ISO-8859-1")

In [7]:
file_one_new_df = file_one_df[["Date","Profit/Losses"]]
file_one_new_df.head(20)

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
5   Jun-2010         522857
6   Jul-2010        1033096
7   Aug-2010         604885
8   Sep-2010        -216386
9   Oct-2010         477532
10  Nov-2010         893810
11  Dec-2010         -80353
12  Jan-2011         779806
13  Feb-2011        -335203
14  Mar-2011         697845
15  Apr-2011         793163
16  May-2011         485070
17  Jun-2011         584122
18  Jul-2011          62729
19  Aug-2011         668179

In [40]:
# total months in dataset
totalmonths = len(file_one_new_df["Date"].value_counts())
totalmonths

86

In [9]:
# The total net amount of "Profit/Losses" over the entire period
totalnet = file_one_new_df["Profit/Losses"].sum()
totalnet

38382578

In [12]:
# The average change in "Profit/Losses" between months over the entire period
revenuediff = file_one_new_df["Profit/Losses"].diff()
file_one_new_df["Profit/Losses_Change"] = revenuediff
avgchange = file_one_new_df["Profit/Losses_Change"].mean()
avgchange

-2315.1176470588234

In [16]:
# The greatest increase in profits (date and amount) over the entire period
maxprofits = file_one_new_df["Profit/Losses_Change"].max()
maxprofits

1926159.0

In [28]:
profitchangemax = file_one_new_df.loc[file_one_new_df["Profit/Losses_Change"].idxmax()]
profitchangemaxdate = profitchangemax["Date"]
profitchangemaxdate

'Feb-2012'

In [29]:
profitchangemaxvalue = profitchangemax["Profit/Losses_Change"]
profitchangemaxvalue

1926159.0

In [30]:
# The greatest decrease in losses (date and amount) over the entire period
profitchangemin = file_one_new_df.loc[file_one_new_df["Profit/Losses_Change"].idxmin()]
profitchangemindate = profitchangemin["Date"]
profitchangemindate

'Sep-2013'

In [31]:
profitchangeminvalue = profitchangemin["Profit/Losses_Change"]
profitchangeminvalue

-2196167.0

In [66]:
# Financial Analysis
#   ----------------------------
#   Total Months: 86
#   Total: $38382578
#   Average  Change: $-2315.12
#   Greatest Increase in Profits: Feb-2012 ($1926159)
#   Greatest Decrease in Profits: Sep-2013 ($-2196167)

financial_analysis = pd.DataFrame({
    "Total Months":[0],
    "Total Revenue":[0],
    "Average Change":[0],
    "Greatest Increase in Profits Month":[0],
    "Greatest Increase in Profits Value":[0],
    "Greatest Decrease in Profits Month":[0],
    "Greatest Decrease in Profits Value":[0]
})

In [67]:
financial_analysis["Total Months"] = totalmonths
financial_analysis.head()

,Total Months,Total Revenue,Average Change,Greatest Increase in Profits Month,Greatest Increase in Profits Value,Greatest Decrease in Profits Month,Greatest Decrease in Profits Value
0,86,0,0,0,0,0,0

In [68]:
financial_analysis["Total Revenue"] = totalnet
financial_analysis.head()

,Total Months,Total Revenue,Average Change,Greatest Increase in Profits Month,Greatest Increase in Profits Value,Greatest Decrease in Profits Month,Greatest Decrease in Profits Value
0,86,38382578,0,0,0,0,0

In [69]:
financial_analysis["Average Change"] = avgchange
financial_analysis.head()

,Total Months,Total Revenue,Average Change,Greatest Increase in Profits Month,Greatest Increase in Profits Value,Greatest Decrease in Profits Month,Greatest Decrease in Profits Value
0,86,38382578,-2315.117647,0,0,0,0

In [70]:
financial_analysis["Greatest Increase in Profits Month"] = profitchangemaxdate
financial_analysis["Greatest Increase in Profits Value"] = profitchangemaxvalue
financial_analysis["Greatest Decrease in Profits Month"] = profitchangemindate
financial_analysis["Greatest Decrease in Profits Value"] = profitchangeminvalue
financial_analysis.head()

,Total Months,Total Revenue,Average Change,Greatest Increase in Profits Month,Greatest Increase in Profits Value,Greatest Decrease in Profits Month,Greatest Decrease in Profits Value
0,86,38382578,-2315.117647,Feb-2012,1926159.0,Sep-2013,-2196167.0

In [76]:
final = financial_analysis.transpose()

In [83]:
# Push the remade DataFrame to a new CSV file
final.to_csv("Output/financial_summary.csv", index=True, header=False)