In [2]:
import pandas as pd

In [3]:
# Make a reference to the books.csv file path
file_one = "Resources/election_data.csv"
# Import the books.csv file as a DataFrame
# Not every CSV requires an encoding, but be aware this can come up
file_one_df = pd.read_csv(file_one, encoding="ISO-8859-1")

In [6]:
# The dataset is composed of three columns: Voter ID, County, and Candidate
election_df = file_one_df[["Voter ID","County","Candidate"]]
election_df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [11]:
# The total number of votes cast
# A complete list of candidates who received votes
# The percentage of votes each candidate won
# The total number of votes each candidate won
# The winner of the election based on popular vote.

totalvotes = len(election_df["Voter ID"].value_counts())
totalvotes

3521001

In [13]:
# A complete list of candidates who received votes
candidatetotals = election_df["Candidate"].value_counts()
candidatetotals

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [14]:
candidatetotalpercents = election_df["Candidate"].value_counts(normalize=True)
candidatetotalpercents

Khan        0.63
Correy      0.20
Li          0.14
O'Tooley    0.03
Name: Candidate, dtype: float64

In [15]:
candidate_df = pd.DataFrame(candidatetotalpercents)
candidate_df

          Candidate
Khan           0.63
Correy         0.20
Li             0.14
O'Tooley       0.03

In [25]:
# profitchangemax = file_one_new_df.loc[file_one_new_df["Profit/Losses_Change"].idxmax()]
# profitchangemaxdate = profitchangemax["Date"]
# profitchangemaxdate

# winner = candidate_df["Candidate"].max()
winner = candidate_df.loc[candidate_df["Candidate"].idxmax()]
# winnercandidate = winner["Name"]
# winnercandidate
winner

Candidate    0.63
Name: Khan, dtype: float64

In [26]:
summary_table = pd.DataFrame({"Total Votes": totalvotes,
                              "Candidate Totals": [candidatetotals],
                              "Candidate Percents": [candidatetotalpercents],
                              "Winning Candidate": [winner]})
summary_table

,Total Votes,Candidate Totals,Candidate Percents,Winning Candidate
0,3521001,Khan 2218231 Correy 704200 Li ...,Khan 0.63 Correy 0.20 Li ...,"Candidate 0.63 Name: Khan, dtype: float64"

In [27]:
# Push the remade DataFrame to a new CSV file
summary_table.to_csv("Output/election_summary.csv", index=True, header=False)